{% extends './masters/main.html.twig' %}

{% block body %}
    <div>
        <h3>Mentions légales</h3>
        <div class="row">


            <div class="col-md-6"><h4>Comment achetez sur notre site ?</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Ab amet autem dolore exercitationem vitae? Expedita nam quibusdam repudiandae tempora vitae!
                    Dolores ea eaque illum, incidunt nam natus odio? Alias aliquam aperiam assumenda aut blanditiis
                    cupiditate delectus, distinctio dolor dolores excepturi hic impedit iusto maiores, minima neque nulla
                    odio pariatur perspiciatis porro quibusdam quos, rerum sed</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Ab amet autem dolore exercitationem vitae? Expedita nam quibusdam repudiandae tempora vitae!
                    Dolores ea eaque illum, incidunt nam natus odio? Alias aliquam aperiam assumenda aut blanditiis
                    cupiditate delectus, distinctio dolor dolores excepturi hic impedit iusto maiores, minima neque nulla
                    odio pariatur perspiciatis porro quibusdam quos, rerum sed</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Ab amet autem dolore exercitationem vitae? Expedita nam quibusdam repudiandae tempora vitae!
                    Dolores ea eaque illum, incidunt nam natus odio? Alias aliquam aperiam assumenda aut blanditiis
                    cupiditate delectus, distinctio dolor dolores excepturi hic impedit iusto maiores, minima neque nulla
                    odio pariatur perspiciatis porro quibusdam quos, rerum sed</p>

            </div>

            <div class="col-md-6"><h4>En cas de problème...</h4>
                <p>repudiandae sed vero voluptatem voluptatibus! A amet at
                    consectetur distinctio nobis numquam quaerat rerum sint soluta. Accusamus aliquid animi optio porro
                    recusandae reprehenderit, soluta tempore velit, veniam veritatis vitae voluptatibus? Alias ipsa minus
                    nulla quam sunt. Accusamus accusantium aperiam consequuntur</p>
                <p>repudiandae sed vero voluptatem voluptatibus! A amet at
                    consectetur distinctio nobis numquam quaerat rerum sint soluta. Accusamus aliquid animi optio porro
                    recusandae reprehenderit, soluta tempore velit, veniam veritatis vitae voluptatibus? Alias ipsa minus
                    nulla quam sunt. Accusamus accusantium aperiam consequuntur</p>
                <p>repudiandae sed vero voluptatem voluptatibus! A amet at
                    consectetur distinctio nobis numquam quaerat rerum sint soluta. Accusamus aliquid animi optio porro
                    recusandae reprehenderit, soluta tempore velit, veniam veritatis vitae voluptatibus? Alias ipsa minus
                    nulla quam sunt. Accusamus accusantium aperiam consequuntur</p>
                <p>repudiandae sed vero voluptatem voluptatibus! A amet at
                    consectetur distinctio nobis numquam quaerat rerum sint soluta. Accusamus aliquid animi optio porro
                    recusandae reprehenderit, soluta tempore velit, veniam veritatis vitae voluptatibus? Alias ipsa minus
                    nulla quam sunt. Accusamus accusantium aperiam consequuntur</p>
            </div>
        </div>
    </div>
    {% include './partials/listeLivres.html.twig' %}
{% endblock %}