{% extends './masters/main.html.twig' %}

{% block body %}
    <div>
        <img src="{{ asset('images/sliders/slider-bench-books.jpg') }}" alt="book1" style="width: 100%; height: 40%;">
        <h3>A propos de Gigastore...</h3>
        <div class="row">


            <div class="col-md-6"><h4>Historique de l'entreprise</h4><p>Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Ab amet autem dolore exercitationem vitae? Expedita nam quibusdam repudiandae tempora vitae!
                Dolores ea eaque illum, incidunt nam natus odio? Alias aliquam aperiam assumenda aut blanditiis
                cupiditate delectus, distinctio dolor dolores excepturi hic impedit iusto maiores, minima neque nulla
                    odio pariatur perspiciatis porro quibusdam quos, rerum sed</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Ab amet autem dolore exercitationem vitae? Expedita nam quibusdam repudiandae tempora vitae!
                    Dolores ea eaque illum, incidunt nam natus odio? Alias aliquam aperiam assumenda aut blanditiis
                    cupiditate delectus, distinctio dolor dolores excepturi hic impedit iusto maiores, minima neque nulla
                    odio pariatur perspiciatis porro quibusdam quos, rerum sed</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing
                    elit. Ab amet autem dolore exercitationem vitae? Expedita nam quibusdam repudiandae tempora vitae!
                    Dolores ea eaque illum, incidunt nam natus odio? Alias aliquam aperiam assumenda aut blanditiis
                    cupiditate delectus, distinctio dolor dolores excepturi hic impedit iusto maiores, minima neque nulla
                    odio pariatur perspiciatis porro quibusdam quos, rerum sed</p>

            </div>

            <div class="col-md-6"><h4>L'entreprise d'aujourd'hui</h4>
                <p>repudiandae sed vero voluptatem voluptatibus! A amet at
                    consectetur distinctio nobis numquam quaerat rerum sint soluta. Accusamus aliquid animi optio porro
                    recusandae reprehenderit, soluta tempore velit, veniam veritatis vitae voluptatibus? Alias ipsa minus
                    nulla quam sunt. Accusamus accusantium aperiam consequuntur</p>
                <p>repudiandae sed vero voluptatem voluptatibus! A amet at
                    consectetur distinctio nobis numquam quaerat rerum sint soluta. Accusamus aliquid animi optio porro
                    recusandae reprehenderit, soluta tempore velit, veniam veritatis vitae voluptatibus? Alias ipsa minus
                    nulla quam sunt. Accusamus accusantium aperiam consequuntur</p>
                <p>repudiandae sed vero voluptatem voluptatibus! A amet at
                    consectetur distinctio nobis numquam quaerat rerum sint soluta. Accusamus aliquid animi optio porro
                    recusandae reprehenderit, soluta tempore velit, veniam veritatis vitae voluptatibus? Alias ipsa minus
                    nulla quam sunt. Accusamus accusantium aperiam consequuntur</p>
                <p>repudiandae sed vero voluptatem voluptatibus! A amet at
                    consectetur distinctio nobis numquam quaerat rerum sint soluta. Accusamus aliquid animi optio porro
                    recusandae reprehenderit, soluta tempore velit, veniam veritatis vitae voluptatibus? Alias ipsa minus
                    nulla quam sunt. Accusamus accusantium aperiam consequuntur</p>
            </div>
        </div>
    </div>
    {% include './partials/listeLivres.html.twig' %}
{% endblock %}