<hr>
<h3><i class="fas fa-hand-point-right text-primary"></i> Voici quelques livres qui peuvent vous intéressez </h3>
<div class="card-group">
    <div class="card mr-1">
        <img class="card-img-top" src="{{ asset('/images/livres/medium/hpotter_chambre_secrets.jpg') }}" alt="hpotter">
        <div class="card-body">
            <h5 class="card-title">Harry potter et la chambre des secrets</h5>
            <p class="card-text">J.K Rowling</p>
        </div>
        <div class="card-footer">
            <small class="text-muted"><input type="button" class="btn btn-warning" value="Voir"> </small>
        </div>
    </div>
    <div class="card mr-1">
        <img class="card-img-top" src="{{ asset('/images/livres/medium/vargas_pars_vite.jpg') }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Pars vite et reviens tard</h5>
            <p class="card-text">Fred Vargas</p>
        </div>
        <div class="card-footer">
            <small class="text-muted"><input type="button" class="btn btn-warning" value="Voir"></small>
        </div>
    </div>
    <div class="card mr-1">
        <img class="card-img-top" src="{{ asset('/images/livres/medium/troy_feu.jpg') }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Trolls de Troy</h5>
            <p class="card-text">Mourier / Arleston</p>
        </div>
        <div class="card-footer">
            <small class="text-muted"><input type="button" class="btn btn-warning" value="Voir"></small>
        </div>
    </div>
    <div class="card mr-1">
        <img class="card-img-top" src="{{ asset('/images/livres/medium/celine_voyage.jpg') }}" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">Voyage au bout de la nuit</h5>
            <p class="card-text">Louis Ferdinand Céline</p>
        </div>
        <div class="card-footer">
            <small class="text-muted"><input type="button" class="btn btn-warning" value="Voir"></small>
        </div>
    </div>
</div>