<div class="jumbotron">
    <h1 class="display-4"><strong>Page en construction !</strong></h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci aspernatur at atque beatae, deserunt
        dignissimos doloribus enim exercitationem id iure labore modi nam obcaecati officia repellendus
        reprehenderit repudiandae sapiente temporibus totam. Aliquid aspernatur atque autem doloribus ducimus ex</p>
</div>