{% extends './masters/main.html.twig' %}

{% block body %}
<h1>Nos coordonnées</h1>
<h3>Gigastore</h3>
    <p>2 Rue Edouard Beauvais<br>
    56100 Lorient </p>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2885.9075278941273!2d4.615352315498305!3d43
.67089297912072!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b67644f1e216ad%3A0xe441585eba50a3a8!2sCCI+du+Pays+d&#39;
Arles!5e0!3m2!1sfr!2sfr!4v1554811151615!5m2!1sfr!2sfr"
            width="600" height="450" frameborder="0" style="border:0; width : 100%;" allowfullscreen></iframe>

    <h1>Laissez nous un message :</h1>
    {% form_theme vueFormulaire 'bootstrap_4_layout.html.twig' %}
    {{ form(vueFormulaire) }}
{% endblock %}